<a href="#"><img src="https://colorlib.com/wp/wp-content/uploads/sites/2/colorlib-push-logo.png" alt="Good"></a>
<h1 style="text-align:center;">Thank </h1>
<p style="text-align:center;">God bless <strong><a href="#">You</a></strong>.</p>
<br>
<p style="text-align:center; color:red;"><strong>Copyright information can't altered/removed unless you purchase a license.</strong>

<p style="text-align:center;"><strong>Removing copyright information without the license will result in suspension of your hosting and/or domain name(s).</strong>

<p style="text-align:center;"><strong>More information about the license is available <a href="#">here</a></strong>.</p>

<style>
img {
  margin: 0 auto;
  display: block;
  margin-top: 20%;
}
</style>
